<h1 class="text-center">{{title}}</h1>
<br>
<form action="/result" method="GET">
	<input class="center-block form-control" style="max-width:280px" name="search" type="text" autofocus="true" placeholder="always"></input>
	<br>
	<br>
	<input class="btn btn-default center-block" type="submit" value="Submit">
</form>
